os: linux
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - python setup.py install
  - pip install coveralls
script:
  - python setup.py test
  - coverage run --include=iiif-presentation-validator.py setup.py test
after_success:
  - coveralls
